span {
    display: inline-block; 
    /* 
        inline block ovozmozuva pristap do width i height
        inaku e isto so inline
     */
    background-color: red;
    width: 100px;
}

/* inline-block elementi se <ul> i <ol> */

/* .test-1 {
    display: none;
    visibility: hidden;
} */

.main-container {
    display: flex;
    background-color: #b9b9b9;
    padding: 15px;

    flex-direction: row; /* glavna oska */
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */

    /* se odnesuva na glavnata oska */
    /* justify-content: space-around;
    justify-content: space-between; */
    justify-content: space-evenly;
    /* justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end; */

    align-items: start;
    flex-wrap: wrap;
    /* flex-wrap: nowrap;
    flex-wrap: wrap-reverse;  */
}

.flex-item {
    border: 1px solid black;
    background-color: #f7b8b8;
    margin: 10px;
}

.main-container > .flex-item:nth-child(even) {
    align-self: flex-end;
}


.child-1 {
    flex-basis: 15%;    
}

.child-2 {
    flex-basis: 15%;
    /*
    Ako izleze textot nadvor od parent elementot moze da se koristi overflow
    height: 100px;
    overflow: hidden, scroll, visible
    overflow-x
    overflow-y 
    */
}

.child-3 {
    flex-basis: 25%;
}

.child-4 {
    flex-basis: 10%;
}

.child-5 {
    flex-basis: 15%;
}

.child-6 {
    flex-basis: 15%;
}