.flex-container {
    display: flex;
    background-color: rgb(255, 215, 163);
    padding: 10px;
}

.item-1 {
    /* flex: 2; */
    /* flex-basis: 20%; */
    flex-shrink: 1;
}

.item-2 {
    /* flex: 1; */
    /* flex-basis: 20%; */
    /* flex-grow: 2; */
    flex-shrink: 2;
    /* pogolema brojka znaci namaluvanje vo odnos na drugite za odredena vrednost */
}

.item-3 {
    /* flex: 1; */
    /* flex-basis: 20%; */
    /* flex-grow: 1; */
    flex-shrink: 1;
}