* {
	margin: 0;
	padding: 0;
}

.clearfix {
	clear: both;
}

/*
	inherit - nasleduva od parent element
	unset - go brise konkretnoto property
*/

body {
	/*background-color: blue;*/
	/*background-image: url('background.jpg');*/
	/*background-repeat: repeat-y;*/
	background-repeat: no-repeat;
	/*background-repeat: repeat-x;*/
	/*background-position: center;*/
}

.first {

	/*border-width: 2px;*/
	/*border-style: dashed;*/
	/*border-color: red;*/
	/* Ova e isto kako gore  */
	border: 2px solid black;

	/* bottom, left, right */
	border-top: 5px dotted red;

	/*margin: 10px; site strani */ 
	/*margin: 10px 5px; gore/dole levo/desno */
	/*margin-top: 10px;
	margin-right: 7px;
	margin-bottom: 12px;
	margin-left: 5px;*/
	
	/* gore, desno, dole, levo  */
	/*margin: 10px 7px 12px 5px;*/	
	margin: 10px auto;

	padding: 10px;

	width: 200px;
	height: 200px;
	/*max-width: 200px;
	max-height: 200px;
	min-width: 50px;
	min-height: 50px;*/

}

.second {
	width: 100px;
	height: 100px;
	border: 1px solid blue;
	/*border-radius: 20%;*/
}

.container {
	color: white;
	float: left;
	width: 50%;
	height: 100px;	
	/*border: 1px solid black;*/
	/*padding: 10px;*/
	box-sizing: border-box;

}

.cont-1 {
	background-color: blue;
}

.cont-2 {
	background-color: red;
}

.text {
	margin-top: 20px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	overflow: scroll;
	/* overflow-x, overflox-y - visible, scroll, hidden */

}

.text .p-one {
	background-color: yellowgreen;
	min-width: 350px;	
}

.text .p-two {
	background-color: cyan;	
}

/*.p-one, .p-two {
	padding: 10px;
}*/

.text p {
	padding: 10px;
	text-align: center;
    text-indent: 2em;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    text-shadow: 1px 1px 6px blue;
    font-family: Arial, Times New Roman, serif;
}

a {
	text-decoration: none;
}

a:visited {
	color: #FF9800;
}

a:active {
	color: red;
}

a:hover {
	color: green;
}

.btn {
	background-color: black;
    color: white;
    font-family: cursive;
    padding: 2px;
    border: unset;
}

.btn:hover {
	background-color: red;
	color: black;
	cursor: crosshair;
}

ul {
	list-style-type: lower-greek;
	list-style-position: outside;
	/* list-style-image: url('tick.png'); */
}

