body {
	height: 5000px;
}

.parent {
	border: 1px solid red;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	position: relative;
}

.child-1 {
	background-color: green;
	width: 75px;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
}

.child-2 {
	background-color: yellow;
	width: 75px;
	height: 75px;
	position: fixed;
}

.fixed {
	position: sticky;
	background-color: magenta;
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
}

.sticky-parent {
	position: relative;
}

.sticky {
	position: sticky;
	background-color: green;
	color: white;
	top: 0;
}


.float {
	width: 100px;
	height: 100px;
}

.float-1 {
	background-color: red;
	float: left;
}
.float-2 {
	background-color: yellow;
	float: left;
}
.float-3 {
	background-color: blue;
	float: left;
}
.float-4 {
	background-color: green;
	float: left;
}

.clearfix {
	clear: both;
}

h3 {
	display: block;
	margin: 0;
	padding: 0;
}